body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

#video-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

#video {
  width: 100%;
  height: auto;
}

#scan-result {
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}
